.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;

}

.MessageVide {
  position: relative;
  padding-left: 2%;
  width: 300px;
  height: 350px;
  margin: 10px;
  color: white;
  background-color: #537169;
  font-size: 2em;
  }